@import 'https://fonts.googleapis.com/css?family=Roboto';

body{
  font-family: 'Roboto',sans-serif;
}
section#models{
  background-image: url(../img/bg-image-1.jpg);
padding:15vw 5vw 15vw 50%;
background-size: cover;
background-position: center;


}

h2{
  text-transform:uppercase;
}

hr+hr{
  width:10vw;
  border:5px solid hsl(198, 100%, 58%);
}

hr{
  margin:0;
  border:none;
  height:1px;
  background-color: hsl(0, 0%, 90%)
}
section#models ul{
margin: 0;
padding:0;
list-style: none;

}

section#models p{
display:flex;
justify-content: space-between;
margin-bottom: 0;
}
section#models span{
  margin-left: auto;
}

progress{
  width:100%;
  border: none;
  height:8px;

}

progress::-moz-procress-bar{
background-color: hsl(198, 100%, 58%);
}

section#models i{
  color:hsl(198, 100%, 58%);
  text-decoration: none;
  transition: all 250ms ease-in-out;
}

section#models i:hover{
  color: black
}

section#models i{
  margin-left:15px;

}
