@import 'https://fonts.googleapis.com/css?family=Roboto';

body{
font-family: 'Roboto', sans-serif;
margin:0
}
header{
background-image: url(../img/home-slider-1-slide-2.jpg);
background-size:cover;
height: 550px;
width: 100%;
padding-top: 80px
}
nav ul{
  padding:10px;
  margin:0;
  list-style: none;
  float: right;
font-size:12px
}

nav img{
height: 25px;
padding-top: 10px;
padding-left: 20px

}
 nav{
  background-color:hsla(0, 2%, 7%, 0.88);
  width:100%;
position: fixed;
top:0;
width:100%

}
nav li{
  display: inline-block;
  padding: 10px;
  float: right;
}
nav a{
  text-decoration: none;
  color: white;
  float: left;

}
header h1{
  color:white;
  display: flex;
  justify-content: center;
margin-top: 200px;
font-size: 150px
}
.pics{
  display: flex;
  flex-wrap: wrap;
}
.pics img{
  width:25%
}
.news{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0% 10%;
  padding-top: 110px;
  padding-bottom:0;


}
.news img{


}
.news div{


}
.news p{

}
