 @font-face {
  font-family: 'BrushScript';
  src: url('http://matthewhigley.com/fonts/BrushScriptStd.eot');
  src: url('http://matthewhigley.com/fonts/BrushScriptStd.eot?#iefix') format('embedded-opentype'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.woff') format('woff'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.ttf')  format('truetype'),
       url('http://matthewhigley.com/fonts/BrushScriptStd.svg#eb21f6604ba28d5573abad1c01255830') format('svg');
  font-style:   normal;
  font-weight:  400;
}
@font-face {
  font-family: 'Fraktur';
  src: url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.eot');
  src: url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.eot?#iefix') format('embedded-opentype'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.woff') format('woff'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.ttf')  format('truetype'),
       url('http://matthewhigley.com/fonts/Fraktur-BT-Regular.svg#f78369fb7f540f355d128fc492e4218d') format('svg');
  font-style:   normal;
  font-weight:  400;
}

body{

  padding:5vh 25vh;
background-color: hsl(3, 87%, 22%)

}
body h2,h3{
    font-family: 'BrushScript';
}
header{


}
header div{
  display: flex;
font-family: 'Fraktur';
background-color: hsl(60,100%,97%);
height:170px;


}
header div div{
  display: flex;
  flex-direction:column;
  align-items: center;
  width:40%;
  height: 170px;
  background-color: hsl(60,100%,97%);
border: 4px solid black;
color:hsl(45, 71%, 56%);
text-shadow:
  -1px -1px 0 #000,
   1px -1px 0 #000,
   -1px 1px 0 #000,
    1px 1px 0 #000;

}
header div h1{
  font-size: 75px;
margin-top: -70px
}
header div h3:nth-child(1){
  font-family:'Fraktur';
font-size: 47px;
margin-top: -2px

}
header div h3:nth-of-type(2){
  font-family:'Fraktur';
font-size: 45px;
margin-top: -65px
}

header img{
  width:100%;
border: 4px solid black;
height: 170px
}
header nav{
display: flex;
justify-content: space-between;
  font-family: 'BrushScript';
width: inherit;
  background-color: hsl(60,100%,97%)
}
header nav ul{
display: inline-flex;
list-style: none;
width:75%;
border: dotted;
border-right: solid hsl(60,100%,97%);
border-left: solid hsl(60,100%,97%);
margin: 20px 110px

}

nav ul li{
padding: 4%;
font-size: 20px;
color:hsl(3, 87%, 22%);

}

nav ul a{
  text-decoration: none;
  color: inherit;

}
hr{
padding: 0
}
section{
  display: flex;
  margin: auto;
  justify-content: space-between;
  background-color: hsl(60,100%,97%)
}
section p{
  font-size: 17px
}
article{
  width:60%;
  margin-right: 10px;
  margin-left: 10px;

}
article div{
  padding-bottom: 60px
}
article p{
  font-size: 15px
}
article h2{
  color:hsl(3, 87%, 22%);
 font-size: 30px
}
.bread img{
  float: right;

}

aside{
  width:40%;

}
.days{
  float:left;
  margin-left: 35px;
  padding-top:-60px
}

aside .time, .location, .daily,.locations,.fone{
border:3px solid grey;
border-radius: 10%;
margin-top: 50px;
height:170px;
width:290px;
text-align: center;
position: relative;
margin:20px
}
.locations h2{
position: absolute;
top:-40px;
left:20px;
background-color: hsl(60,100%,97%)

}
.daily div{
  padding-top: 40px
}
.daily h2{
position: absolute;
top:-40px;
left:20px;
background-color: hsl(60,100%,97%)

}.fone h2{
position: absolute;
top:-40px;
left:20px;
background-color: hsl(60,100%,97%)

}
.time div{
  padding-top: 25px
}
.time h2{
position: absolute;
top:-40px;
left:20px;
background-color: hsl(60,100%,97%)

}
aside p{
  font-size: 15px
}
aside h2{
  color:hsl(34, 76%, 41%);
  font-size: 27px
}
/*home page*/
#history p{
  font-size: 15px
}
#history h2{
  font-size: 31px
}
 .sandwich {
   float: right;
 }
 .salads {
   float: left;
 }
 #history aside{
   margin-top: 50px
 }
#history aside img{
  margin-bottom: 10%;
  margin-left: 50px;
  height: 175px;

}
/*up therre is history page stuff^*/
#menu{
  display: flex;
  flex-direction:column
}
.top{
  display:inline-flex;
margin-left: 10%
}
.top p{
  margin-left: 10%;
  padding-top:13px;
  font-size: 13px
}
.homemade{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 5px solid grey;
  border-radius: 5%;
  word-wrap: break-word;
  margin-left: 10%;
  margin-right: 10%
}
.homemade div:nth-child(1){
  background-color: red
}
.homemade p{
  font-size:12px
}
.chicken{
  display:inline-flex;
  padding: inherit;
}
.chicken div{
  position: relative;
}
.chicken h2{
  position: absolute;
  bottom:90px;
  left:65px
}
.chicken div:nth-child(1){
  display: flex;
  flex-direction:column;;
  align-items: center;
  border: 5px solid grey;
  border-radius: 5%;
  word-wrap: break-word;
  margin-left: 10%;
  margin-right: 1%;

}
.chicken div:nth-child(2){
  display: flex;
  flex-direction:column;
  align-items: center;
  border: 5px solid grey;
  border-radius: 5%;
  word-wrap: break-word;
  margin-right: 10%;
}


.sides{
  display:inline-flex;
  padding: inherit;
}
.sides div{
  position: relative;
}
.sides h2{
  position: absolute;
  bottom:65px;
  left:75px
}
.sides div:nth-child(1){
  display: flex;
  flex-direction:column;;
  align-items: center;
  border: 5px solid grey;
  border-radius: 5%;
  word-wrap: break-word;
  margin-left: 10%;
  margin-right: 1%;

}
.sides div:nth-child(2){
  display: flex;
  flex-direction:column;
  align-items: center;
  border: 5px solid grey;
  border-radius: 5%;
  word-wrap: break-word;
  margin-right: 10%;
}
