body{
margin:10% 10%
}

div h1{
display: flex;
align-items: center;
flex-direction: column;
color: hsl(266, 49%, 64%);
}

div p{
display: flex;
margin: 5% 20%;
color:hsl(266, 61%, 68%);

}

div img{
  float:left;
  padding:2%;
  margin-left: 10%;
  margin-top: -4%
}
