body{

}

nav{

}

div{
  display: flex;
  justify-content: center;
}

section{
display: flex;
justify-content: center;

}

form#loginForm{
display: flex;
flex-direction: row;
margin-left: auto;


}

form#loginForm input{
  max-width: 100px;
  margin-left: 5px;

}

form{
display: flex;
flex-direction: column;
justify-content: center;
width:50%
}

form input{
  margin-bottom: 10px;

}
input, textarea{
width:300px;
box-sizing: border-box;

}

label{
display: inline-block;
width:90px;
text-align: right;
}

#sub{
  max-width: 120px;
  padding:5px 10px
}
